<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="normal/base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>contact Detail</title>
</head>
<body>
<section>
  <div class="card mr-3 ml-3" th:if="${contact}">
      <div class="card-body" >
          <div class="container text-center">

              <img src="" class="personalpic " th:src="@{'/img/'+${contact.image}}" alt="profile photo">
              <div>
              <span class="bold" th:text="${contact.name}"></span> (<span  th:text="${contact.secondName}"></span>)

              </div>
              <div>
                  <table class="table">
                      <thead>
                      <tr>
                          <th scope="col">#ID</th>
                          <th scope="col"><span th:text="${contact.contactId}"></span></th>

                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <th scope="row">Email</th>
                          <td><span th:text="${contact.email}"></span></td>

                      </tr>
                      <tr>
                          <th scope="row">Work</th>
                          <td><span th:text="${contact.work}"></span></td>

                      </tr>
                      <tr>
                          <th scope="row">Phone</th>
                          <td><span th:text="${contact.phone}"></span></td>

                      </tr>

                      </tbody>
                  </table>
               <div class="detail text-center mt-3">
                   <hr style="border:bold width:5px;">
                    <span style="font-size:20px;"><u>User Description</u></span>

                   <hr style="width:20px;">
                   <textarea></textarea>
                   <span th:utext="${contact.description}">
                   </span>
               </div>

          </div>



          </div>
          <h2  class="text-center bg-warning  " th:unless="${contact}" >Access Denied</h2>
      </div>

  </div>
</section>
</body>
</html>